<script>
	const DARK_CLASS = "dark";


	const STORAGE_KEY = "theme";
	const STORAGE_AUTO_VAL = "auto";
	const STORAGE_DARK_VAL = "dark";
	const STORAGE_LIGHT_VAL = "light";

	// Set the the theme based on a boolean dark value.
	function setTheme(dark) {
		if (dark) {
			document.body.classList.add('dark');
			document.body.classList.remove('light');
		} else {
			document.body.classList.remove('dark');
			document.body.classList.add('light');
		}
		console.log(`set dark theme: ${dark}`);
	}

	function prefersDark() {
		return window.matchMedia('(prefers-color-scheme: dark)').matches
	}

	function setStorageValue(value) {
		localStorage.setItem(STORAGE_KEY, value)
	}


	// Set theme based on prefers-color-scheme. 
	function setPreferenceTheme() {
		if (prefersDark()) {
			setTheme(true);
		} else {
			setTheme(false);
		}
	}

	// Check local storage to see if theme is set.
	function setThemeLocalStorageOrMediaAttr() {
		const theme = localStorage.getItem(STORAGE_KEY) || STORAGE_AUTO_VAL
		console.log(`theme is: ${theme}`);

		switch (theme) {
			case STORAGE_AUTO_VAL:
				setPreferenceTheme()
				break;
			case STORAGE_DARK_VAL:
				setTheme(true)
				break;
			case STORAGE_LIGHT_VAL:
				setTheme(false)
				break;
		}
	}

	setThemeLocalStorageOrMediaAttr()

	window.addEventListener("storage", (e) => {
		if (e.key == STORAGE_KEY) {
			setThemeLocalStorageOrMediaAttr()
		}
	})

	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
		setThemeLocalStorageOrMediaAttr()
	})

	window.addEventListener('DOMContentLoaded', () => {
		document.getElementById("dark-mode-toggler").addEventListener("click", (e) => {
			const theme = localStorage.getItem(STORAGE_KEY) || STORAGE_AUTO_VAL;

			console.log(`theme is ${theme}`);
			switch (theme) {
				case STORAGE_AUTO_VAL:
					if (prefersDark()) {
						setStorageValue(STORAGE_DARK_VAL);
						setTheme(false);
					} else {
						setStorageValue(STORAGE_LIGHT_VAL);
						setTheme(true);
					}
					break;
				case STORAGE_LIGHT_VAL:
					setStorageValue(STORAGE_DARK_VAL);
					setTheme(true);
					break;
				case STORAGE_DARK_VAL:
					setStorageValue(STORAGE_LIGHT_VAL);
					setTheme(false);
					break;
			}
		})
	})
</script>
