<header>
	<nav class="flex flex-wrap items-center w-full py-4 pl-2 pr-4 text-lg text-fg-1 dark:text-fgDark-1">
		<h1 class="text-xl font-bold mr-6 underline text-fg-1 dark:text-fgDark-1">SPA Student Newsletter:</h1>
		<div class="mx-auto"></div>
		<div class="flex items-center flex-shrink-0 mr-6">
			<a href="/" class="text-fg-1 dark:text-fgDark-1">Home</a>
		</div>
		<div class="flex items-center flex-shrink-0 mr-6">
			<a href="/submit" class="text-fg-1 dark:text-fgDark-1">Submit</a>
		</div>
		<div class="flex items-center flex-shrink-0 mr-6">
			<a href="/about" class="text-fg-1 dark:text-fgDark-1">About</a>
		</div>
	</nav>
</header>
