<div
	class="p-2 rounded-md border border-solid border-fg-3 dark:border-fgDark-3 bg-bg-3 dark:bg-bgDark-3 text-fg-0 dark:text-fgDark-0 max-w-full min-h-fit">

	<h2 class="text-lg font-bold underline">{{.Weekday}}:</h2>
	<div class="flex flex-col gap-2 my-2">
		{{ template "includes/post_item.tmpl.html" newkv "Lunch" .Lunch }}

		{{ template "includes/post_item_optional.tmpl.html" newkv "X Period" .XPeriod }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Rotation Day" .RotationDay }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Location" .Location }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Notes" .Notes }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Grade 9" .Grade9 }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Grade 10" .Grade10 }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Grade 11" .Grade11 }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "Grade 12" .Grade12 }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "AP Information" .ApInfo }}
		{{ template "includes/post_item_optional.tmpl.html" newkv "College Counselling" .CCInfo }}
	</div>
</div>
