<div
	class="p-2 rounded-md border border-solid border-fg-3 dark:border-fgDark-3 bg-bg-3 dark:bg-bgDark-3 text-fg-0 dark:text-fgDark-0 max-w-full min-h-fit">

	<h2 class="text-lg font-bold underline">{{.Date}}:</h2>
	<div class="flex flex-col gap-2 my-2">
		<div class="flex-col bg-bg-2 dark:bg-bgDark-2 p-2 rounded-md">
			<h2 class="text-md text-bold mb-2">Lunch:</h2>
			<p class="text-sm text-fg-2 dark:text-fgDark-2">
				{{ .Lunch }}
			</p>
		</div>

		{{ if .XPeriod }}
		<div class="flex-col bg-bg-2 dark:bg-bgDark-2 p-2 rounded-md">
			<h2 class="text-md text-bold mb-2">X Period:</h2>
			<p class="text-sm text-fg-2 dark:text-fgDark-2">
				{{ .XPeriod }}
			</p>
		</div>
		{{ end }}

		{{ if .RotationDay }}
		<div class="flex-col bg-bg-2 dark:bg-bgDark-2 p-2 rounded-md">
			<h2 class="text-md text-bold mb-2">RotationDay:</h2>
			<p class="text-sm text-fg-2 dark:text-fgDark-2">
				{{ .RotationDay }}
			</p>
		</div>
		{{ end }}

		{{ if .RotationDay }}
		<div class="flex-col bg-bg-2 dark:bg-bgDark-2 p-2 rounded-md">
			<h2 class="text-md text-bold mb-2">RotationDay:</h2>
			<p class="text-sm text-fg-2 dark:text-fgDark-2">
				{{ .RotationDay }}
			</p>
		</div>
		{{ end }}

		{{ if .RotationDay }}
		<div class="flex-col bg-bg-2 dark:bg-bgDark-2 p-2 rounded-md">
			<h2 class="text-md text-bold mb-2">RotationDay:</h2>
			<p class="text-sm text-fg-2 dark:text-fgDark-2">
				{{ .RotationDay }}
			</p>
		</div>
		{{ end }}
	</div>

	<p class="text-xs text-fg-3 dark:text-fgDark-3">Updated At: 5pm Yesterday</p>
</div>
