<!doctype html>

<html lang="en">

<head id="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{ title }} - SPA Student Newsletter</title>

	<link rel="stylesheet" href="{{ 'styles' | static }}" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body class="light">
	{% include "includes/dark_js.html" %}
	{% include "includes/navbar.html" %}

	<div class="main">
		{% block content %}{% endblock content %}
	</div>


	{% include "includes/footer.html" %}
</body>

</html>
