@use "breakpoints";

body {
  background-color: var(--bg);
  color: var(--fg);

  a:visited {
    color: var(--fg2);
  }

  a:hover {
    color: var(--purple);
  }

  .navbar-top {
    background: var(--bg2);
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .nav-content-top {
      display: flex;
      flex-direction: row;

      margin: 0 auto;
      padding: 0 0.8rem;

      height: 3em;
      max-width: breakpoints.$xl;

      .item {
        height: 100%;
        text-decoration: none;
        font-size: 1em;
        color: var(--fg);
        padding-left: 0.25em;
        padding-right: 0.25em;

        display: flex;
        align-items: center;
      }

      a:visited {
        color: var(--fg);
      }

      a:hover {
        background-color: var(--fg3);
        color: var(--bg2);
      }

      .dark-mode-menu {
        margin-left: auto;
      }

      .dark-mode-menu:hover {
        background-color: var(--fg3);
        color: var(--bg2);
      }
    }
  }
}
