@use "breakpoints";

body {
  background-color: var(--bg);
  color: var(--fg);

  a {
    color: var(--purple);
  }

  a:visited {
    color: var(--purple);
  }

  a:hover {
    color: var(--fg2);
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: breakpoints.$sm;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;

    p {
      margin: 0.25em;
    }
  }

  .main {
    margin-top: 4rem;
    padding: 0 1rem;
    max-width: breakpoints.$sm;
    margin: 4rem auto 0 auto;
  }

  .days-list {
    display: flex;
    flex-direction: column;
  }

  .day-display {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    max-width: breakpoints.$sm;
    margin: 0.25em auto;

    .title {
      color: var(--fg);
    }

    .updated-at {
      color: var(--fg3);
    }

    .item {
      margin-top: 0.5em;
      padding: 0.25rem 1em;
      background-color: var(--bg2);
      border-radius: 1rem;
      color: var(--fg2);

      .item-title {
        color: var(--fg);
      }
    }

    .items {
      display: flex;
      flex-direction: column;
    }
  }

  .navbar-top {
    background: var(--bg2);
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .nav-content-top {
      display: flex;
      flex-direction: row;

      margin: 0 auto;
      padding: 0 0.8rem;

      height: 3em;
      max-width: breakpoints.$sm;

      .item {
        height: 100%;
        text-decoration: none;
        font-size: 1em;
        color: var(--fg);
        padding-left: 0.25em;
        padding-right: 0.25em;

        display: flex;
        align-items: center;
      }

      a:visited {
        color: var(--fg);
      }

      a:hover {
        background-color: var(--fg3);
        color: var(--bg2);
      }

      .dark-mode-menu {
        margin-left: auto;
      }

      .dark-mode-menu:hover {
        background-color: var(--fg3);
        color: var(--bg2);
      }
    }
  }
}
