@use "breakpoints";

.display-hidden-sm {
  @media (max-width: breakpoints.$sm) {
    display: none;
  }
}

.display-show-sm {
  @media (min-width: breakpoints.$sm) {
    display: inherit;
  }
}

.dark .display-dark {
  display: inherit;
}

.dark .display-light {
  display: none;
}

.light .display-dark {
  display: none;
}

.light .display-light {
  display: inherit;
}
