<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{.Title}} - SPA Student Newsletter</title>

	{{ template "includes/_tailwind.tmpl.html" .Info}}
</head>

<body class="px-4 py-2 mx-auto bg-bg-hard dark:bg-bgDark-hard text-fg-0 dark:text-fgDark-0 lg:max-w-5xl">
	{{ template "includes/_dark_mode_js.tmpl.html" .}}

	{{ template "includes/navbar.tmpl.html" .}}
	<div class="p-2">
		{{block "content" .}}{{end}}
	</div>

	{{ template "includes/footer.tmpl.html" .}}
</body>

</html>
