<div id='a-{{ .ID }}' class="rounded-md border-2 border-black bg-gray-100 p-2">
	<h1 class="font-bold">{{ .Title }}:</h1>

	<h2 class="text-sm text-gray-600">By: {{ .Author }}</h2>

	<div class="pt-4 prose-sm">
		{{
		.Content | sanitize }}
	</div>

	<div class="flex flex-row items-end">
		<p class="text-gray-600 text-sm">Display {{ .DisplayStart.Format "2006-01-02" }} to {{
			.DisplayEnd.Format
			"2006-01-02" }}
		</p>
		<div class="mx-auto"></div>
		<button class="px-4 py-2 border-2 border-black rounded-md bg-red-500" hx-delete="/admin/announcements/{{ .ID }}"
			hx-target="#a-{{ .ID }}" hx-confirm="Delete Announcement?" hx-swap="outerHTML swap:0.25s">Delete</button>
	</div>
</div>
