<div class="rounded-md border-2 border-black bg-gray-100 p-2">
	<h1 class="font-bold">{{ .Date.Format "Monday, 01/02/2006" }}:</h1>

	{{ key_value "Lunch" .Lunch | partial "day_item.html" }}
	{{ key_value "XPeriod" .XPeriod | partial "day_item.html" }}
	{{ key_value "Location" .Location | partial "day_item.html" }}
	{{ key_value "Rotation Day" .RotationDay | partial "day_item.html" }}
	{{ key_value "Other Notes" .Notes | partial "day_item.html" }}
	{{ key_value "College Counselling Info" .CcInfo | partial "day_item.html" }}
	{{ key_value "Grade 9" .Grade9 | partial "day_item.html" }}
	{{ key_value "Grade 10" .Grade10 | partial "day_item.html" }}
	{{ key_value "Grade 11" .Grade11 | partial "day_item.html" }}
	{{ key_value "Grade 12" .Grade12 | partial "day_item.html" }}
</div>
